body[b-75gjg21amq] {
    height:300px;
}

.container[b-75gjg21amq] {
    height: 727px;
}

.col-lg-12[b-75gjg21amq] {
    /*border-bottom: 1px solid #d6d5d5;*/
    display: grid;
    grid-template-rows: 80% 30% 30%;
    justify-content: center;
}

p[b-75gjg21amq] {
    text-align: center;
    font-size: 25px;
}

h1[b-75gjg21amq] {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
}