/* _content/WebApp/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-pui3qmsk44] {
    position: relative;
    display: flex;
    /*flex-direction: column;*/
}

.magistrcontent[b-pui3qmsk44] {
    position: relative;
    display: flex;
}

main[b-pui3qmsk44] {
    flex: 1;
    
    /*background-image: linear-gradient(180deg, #37A5DA 0%, #007AB5 70%);*/
}

.row.header[b-pui3qmsk44] {
    background-color: #e1e1e1;
    display: grid;
    grid-template-columns: 13% 23% 20%;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #d6d5d5;
}

.row.footer[b-pui3qmsk44] {
    /*position: fixed;
    bottom: 0;*/
    background-color: #e1e1e1;
    display: grid;
    grid-template-columns: 9% 15% 20%;
    align-items: center;
    height: 5rem;
    border-top: 1px solid #d6d5d5;
}

.sidebar[b-pui3qmsk44] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-pui3qmsk44] {
    /*background-color: #ededed;*/
    /*border-bottom: 1px solid #d6d5d5;*/
    justify-content: flex-start;
    height: 5rem;
    display: flex;
    align-items: center;
    /*display: grid;
    grid-template-columns: 100%;*/
    margin-bottom: 15px;
}

    .top-row[b-pui3qmsk44]  a, .top-row[b-pui3qmsk44]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-pui3qmsk44]  a:hover, .top-row[b-pui3qmsk44]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-pui3qmsk44]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.footer-row[b-pui3qmsk44] {
    background-color: #ededed;
    border-top: 1px solid #d6d5d5;
    justify-content: center;
    height: 5rem;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

@media (max-width: 640.98px) {
    .top-row[b-pui3qmsk44] {
        justify-content: space-between;
    }

    .top-row[b-pui3qmsk44]  a, .top-row[b-pui3qmsk44]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-pui3qmsk44] {
        flex-direction: row;
    }

    .sidebar[b-pui3qmsk44] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-pui3qmsk44] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-pui3qmsk44]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-pui3qmsk44], article[b-pui3qmsk44] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-pui3qmsk44] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-pui3qmsk44] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/WebApp/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-cfr3pjxbop] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-cfr3pjxbop] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-cfr3pjxbop] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-cfr3pjxbop] {
    font-size: 1.1rem;
}

.bi[b-cfr3pjxbop] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-cfr3pjxbop] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-cfr3pjxbop] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-cfr3pjxbop] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-cfr3pjxbop] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-cfr3pjxbop] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-cfr3pjxbop] {
        padding-bottom: 1rem;
    }

    .nav-item[b-cfr3pjxbop]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-cfr3pjxbop]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-cfr3pjxbop]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-cfr3pjxbop] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-cfr3pjxbop] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-cfr3pjxbop] {
        display: none;
    }

    .nav-scrollable[b-cfr3pjxbop] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/WebApp/Components/Pages/Bakalavriat.razor.rz.scp.css */
[class^="col-"][b-vqymdq4izb] {
    padding: 50px;
    padding-top: 10px;
}

main[b-vqymdq4izb] {
    /*padding-left: 50px;*/
}

h3[b-vqymdq4izb] {
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

div.blockItemMain[b-vqymdq4izb] {
    background-color: #c9e4ff;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1;
    /*flex: 1 5 2;
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: start;*/
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

div.spec_name[b-vqymdq4izb] {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}

div.index[b-vqymdq4izb] {
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.addData[b-vqymdq4izb] {
    font-size: 20px;
    margin-top: 10px;
    padding: 2px;
}

div.data[b-vqymdq4izb] {
    flex-direction: column;
    display: flex;
    align-items: start;
    padding-left: 20px;
}

div.col-lg-3[b-vqymdq4izb] {
    border: 1px solid black;
    background-color: #9fc9ee;
    margin-bottom: 48px;
}

.btnNext button[b-vqymdq4izb] {
    font-size: 20px;
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.inst_name[b-vqymdq4izb] {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}
/* _content/WebApp/Components/Pages/Home.razor.rz.scp.css */
body[b-75gjg21amq] {
    height:300px;
}

.container[b-75gjg21amq] {
    height: 727px;
}

.col-lg-12[b-75gjg21amq] {
    /*border-bottom: 1px solid #d6d5d5;*/
    display: grid;
    grid-template-rows: 80% 30% 30%;
    justify-content: center;
}

p[b-75gjg21amq] {
    text-align: center;
    font-size: 25px;
}

h1[b-75gjg21amq] {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
}
/* _content/WebApp/Components/Pages/Institutes.razor.rz.scp.css */
[class^="col-"][b-nc9wb55v9p] {
    padding: 50px;
    padding-top: 10px;
}

main[b-nc9wb55v9p] {
    /*padding-left: 50px;*/
}

h3[b-nc9wb55v9p] {
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

div.blockItemMain[b-nc9wb55v9p] {
    background-color: #c9e4ff;
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 1;
    /*flex: 1 5 2;
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: start;*/
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

div.inst_name[b-nc9wb55v9p] {
    font-size: 22px;
    font-weight: bold;
    margin-right: 15px;
}

div.city[b-nc9wb55v9p] {
    font-size: 20px;
    margin-right: 15px;
}

div.inst_website[b-nc9wb55v9p] {
    font-size: 20px;
    margin-right: 15px;
}

div.index[b-nc9wb55v9p] {
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

div.data[b-nc9wb55v9p] {
    flex-direction: column;
    display: flex;
    align-items: start;
    padding-left: 20px;
}

.btnNext button[b-nc9wb55v9p] {
    font-size: 20px;
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.inst_name[b-nc9wb55v9p] {
    margin-bottom: 10px;
}
/* _content/WebApp/Components/Pages/Magistratura.razor.rz.scp.css */
[class^="col-"][b-gf23cx72l6] {
    padding: 50px;
    padding-top: 10px;
}

main[b-gf23cx72l6] {
    /*padding-left: 50px;*/
}

h3[b-gf23cx72l6] {
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

div.blockItemMain[b-gf23cx72l6] {
    background-color: #c9e4ff;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1;
    /*flex: 1 5 2;
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: start;*/
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

div.spec_name[b-gf23cx72l6] {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}

div.index[b-gf23cx72l6] {
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold; 
}

.addData[b-gf23cx72l6] {
    font-size: 20px;
    margin-top: 10px;
    padding: 2px;
}

div.data[b-gf23cx72l6] {
    flex-direction: column;
    display: flex;
    align-items: start;
    padding-left: 20px;
}

div.col-lg-3[b-gf23cx72l6] {
    border: 1px solid black;
    background-color: #9fc9ee;
    margin-bottom: 48px;
}

.btnNext button[b-gf23cx72l6]{
    font-size: 20px;
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.inst_name[b-gf23cx72l6] {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}
/* _content/WebApp/Components/Pages/SearchSortBar.razor.rz.scp.css */
h3[b-uhti4tl855] {
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #004886;
}

.searchBlock[b-uhti4tl855] {
    margin-bottom: 30px;
}

.bar-content[b-uhti4tl855] {
}

.search-spec-name input[b-uhti4tl855] {
    width: auto;
}

input[b-uhti4tl855] {
    width: 65px;
    padding-left: 5px;
    padding-right: 5px;
}

#check[b-uhti4tl855] {
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

p[b-uhti4tl855] {
    display: grid;
    grid-template-columns: 5% 95%;
}

p div[b-uhti4tl855] {
    margin-left: 15px;
}
/*.search-spec-name input {
    margin-top: 0px;
}*/

.search-spec-name .blockName[b-uhti4tl855] {
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: start;
    height: 20px;
}

.blockName[b-uhti4tl855] {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #004886;
}

    .blockName .name[b-uhti4tl855] {
        padding-right: 5px;
        padding-bottom: 10px;
        height: 10px;
    }

    .blockName button[b-uhti4tl855] {
        margin-top: 0px;
        margin-right: 5px;
    }

.places[b-uhti4tl855] {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 20% 35% 45%;
}

.cost[b-uhti4tl855] {
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
}

    .cost input[b-uhti4tl855] {
        margin-right: 15px;
    }

button[b-uhti4tl855] {
    font-size: 20px;
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    margin-bottom: 5px;
}

.btnBlock[b-uhti4tl855] {
    margin-top: 40px;
    margin-bottom: 15px;
    display: grid;
    grid-template-rows: 1 1;
}
