@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
	<div class="row heading">
		<div class="col-lg-12">
			<h1>Здравствуй абитуриент!</h1>
			<p>На данном сайте ты сможешь найти специальности среди ВУЗов России, по интересующим тебя критериям.</p>
			<p>Для поиска специальностей переходи в соответствующий раздел специальностей Бакалавриата/Специалитета или Магистрат</p>
		</div>
	</div>
	<div class="row homeContent">

	</div>
</div>