@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<NavLink href="institutes">
	<button class="btn btn-primary">
		ВУЗы России
	</button>
</NavLink>
<NavLink href="bakalavriat">
	<button class="btn btn-primary">
		Бакалавриат
	</button>
</NavLink>
<NavLink href="magistratura">
	<button class="btn btn-primary">
		Магистратура
	</button>
</NavLink>