@inherits LayoutComponentBase
@rendermode InteractiveServer


@foreach (var row in DTable.Rows)
{
	int i = counter;
	<div class="row blockItem">
		<div class=" col-md-1">@i</div>
		<div class=" col-md-11">
			<div class="inst_name">@DTable.Rows[i][1]</div>
			<div class="city">@DTable.Rows[i][2]</div>
			<div class="inst_website">@DTable.Rows[i][3]</div>
		</div>
	</div>
	counter += 1;
}


@code {
	// [Parameter]
	// public EventCallback OnClickCallback { get; set; }

	[Parameter]
	public EventCallback OnClickCallback { get; set; }

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public DataTable DTable { get; set; } = new DataTable();

	[Parameter]
	public bool ShowNext { get; set; } = false;

	
	int lastViewedIndex;
	int lastCount = 0;
	int counter = 0;

	// public void SetValues()
	// {
	// 	DTable = OnClickCallback.;
	// }

	// public override Task SetParametersAsync(ParameterView parameters)
	// {
	// 	if (lastCount < DTable.Rows.Count)
	// 	{
	// 		lastCount = DTable.Rows.Count;
	// 		parameters.SetParameterProperties(this);
	// 	}
	// 	return base.SetParametersAsync(parameters);
	// }

}
